/*
 external style
<link rel="stylesheet" href="css/file.css" />

<!--internal style -->
<style>
p {
  color: red;
}
</style>

<!--in line style -->
<p style="color: blue;">This Is Our Paragraph</p>\
*/